.container{
    text-align: center;
}

.title{
    margin-top: 50px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span{
    color:blueviolet;
    padding-left: 15px;
}

.boxes {
    display: flex;
    height: 180px;
    width: 180px;
    background-color: darkslategrey;
    border: 4px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.boxes:hover {
    background-color: blueviolet;
}
.board {
    height: 600px;
    width: 564px;
    display: flex;
    margin: auto;

}